doctype 5
html(lang="en")
  head
    title= title
    link(rel="stylesheet", href="/stylesheets/style.css")
  body
    h1= title
    p
      a(href=profileUri)
        | Export Your LinkedIn Profile as JSON
